body {
  background-image: linear-gradient(to bottom right, #654ea3, #eaafc8);
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 44px;
  text-align: center;
}

.container {
  margin: 10px auto;
}

#container {
  width: 425px;
  height: 740px;
  margin-top: 60px;
  background-image: linear-gradient(to bottom right, #654ea3, #FBEAFF);
  border-radius: 20px;
}

.button {
  text-align: center;
  background: #FF6F91;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 58px;
  transition: transform .02s
}

.button:hover {
  transform: scale(1.03);
}

.oper-btn {
  background: #FFC75F;
}

#calculator-screen {
  width: 378px;
  height: 82px;
  margin-bottom: 8px;
  background: #FF9671;
  text-align: right;
  padding-right: 24px;
  transform: none;
  margin: 6px;
}

#calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 4px;
  margin: 6px;
}

#equals {
  background: #F9F871;
}

.btn-bottom {
  display: inline-block;
  width: 182px;
  height: 80px;
  margin-top: 8px;
  background: #eaafc8;
  font-size: 34px;
  margin: 2px;
}

#clear {
  margin-left: 6px;
}

#long-form {
  font-family: 'Overpass Mono', monospace;
  margin: 80px auto;
  background: #8D6EAD;
  transition: none;
  height: 36px;
  width: 60%;
  font-size: 24px;
  border-radius: 10px;
  color: #FBEAFF;
  text-align: right;
  padding: 10px;
}
